@media (max-width: 845px) {
    .no-mp, .row {
      padding:0px;
      margin:0px;
    }
    aside {
      order: 1;
    }
  }

  * {
    font-family: "Work Sans", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  }
  
  html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }

 
 .socialMedia img {
    max-width: 50px;
    min-width: 30px;
    padding: 0px 10px;
  }

  .skills img {
    max-width: 500px;
  }

  .darkGrey1 {
      background-color: #666;
  }
  
  .lightGrey1 {
      background-color: #f2f2f2
    }

.grey1 {
    background-color: #c2c2c2;
}

.pink1 {
    background-color: #f7d9de;
}

.titulo {
  border-bottom: solid 1px #f7d9de;
  background-color: #f2f2f2;
}

li {
  list-style-type: none;
  position: relative;
  /* It's needed for setting position to absolute in the next rule. */
}

li::before {
  content: "·";
  font-weight: bold;
  position: absolute;
  left: -10px;
  /* Adjust this value so that it appears where you want. */
}

.profile {
  display: flex;
  flex: 100%;
  flex-flow: row wrap;
  /* Necesario para usar @media*/
  max-width: 120px;
  position: absolute;
  z-index: 1;
}