* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 18px;
}

.wrap {
  padding: 0px 350px;
  margin: 0;
}

header {
  text-align: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #666;
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 30%;
  background-color: #f7d9de;
  padding: 10px;
}

section {
  flex: 70%;
  background-color: #f2f2f2;
  padding: 20px;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: #666;
  flex: 100%;
}

img {
  width: 100%;
  padding: 0px;
}

.argLogo {
  display: flex;
  flex: 50%;
  flex-flow: row wrap; /* Necesario para usar @media*/
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}
.argLogo img {
  max-width: 100px;
  min-width: 50px;
}

.socialMedia {
  display: flex;
  flex: 50%;
  flex-flow: row wrap; /* Necesario para usar @media*/
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.socialMedia img {
  max-width: 50px;
  min-width: 30px;
  padding: 10px;
}

.banner {
  display: flex;
  flex: 100%;
}

.separator {
  display: flex;
  flex: 100%;
  background-color: #666;
  flex-flow: row wrap; /* Necesario para usar @media*/
  color: #f7d9de;
  padding: 10px 30px;
  justify-content: flex-end;
  align-items: center;
  font-size: 18pt;
}

.profile {
  display: flex;
  flex: 100%;
  flex-flow: row wrap; /* Necesario para usar @media*/
  max-width: 120px;
  position: absolute;
  z-index: 1;
}

div#separator span {
  padding-right: 150px;
}

@media (max-width: 768px) {
  .wrap,
  nav,
  .socialMedia,
  .argLogo,
  .separator {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 100%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .profile,
  .banner,
  div#separator span {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 100%;
    position: static;
    padding: 0px;
    font-size: 18pt;
    text-align: center;
  }


  @media (max-width: 768px) {
    nav,
    .row {
      flex-direction: column;
      padding: 0px;
    }
  }
}
